@model IEnumerable<Repository.Liga>




<div class="MyContainer">
   
    @foreach (var liga in Model)
    {
       <div class="Contenedor">
           <p>@liga.Nombre</p>
       </div>
    }


</div>







