body {
}

.MySidebar{
    background-color:#282525 !important;
}

.MyContent{
    margin-top:30px;
}

.PronosticList{
    padding-top:15px;
}

.ContainerResults{
    padding-top:20px;
    background-color:#393939

}


.MyImage{
    width:250px;
    max-height:150px;
}