body {
}

.MySidebar {
    background-color: #282525 !important;
}

.MyContent {
    margin-top: 30px;
}

.PronosticList {
    padding-top: 15px;
}

.ContainerResults {
    padding-top: 20px;
    background-color: #393939;
}

.MyColumn {
    text-align: center;
}

.MyRow {
    text-align: center;
}

.Info {
    cursor: pointer;
}

.MyImage {
    width: 250px;
    max-height: 150px;
}



.ContentProg {
    margin-bottom: 25px;
}

.Mytooltip {
    display: none;
    position: absolute;
    /*border:1px solid #333;*/
    background-color: rgba(81, 79, 79, 0.93);
    padding: 10px;
    color: white;
    font-size: 12px;
}


.VerticalContainer {
    height: 100vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}


.MyTitle {
    /*background-color:rgba(135, 91, 91, 0.72)*/
}

.CenterContainer {
    margin: 0 auto;
}
